*,
  *::before,
  *::after{
  box-sizing: border-box;
}
.one {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
}
.half{
  background-color: turquoise;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  font-weight: 900;
  font-size: 25px
 }
.gg{
  border-bottom: 6px solid orange;
}
.three{
  border-
}
