*,
  *::before,
  *::after{
  box-sizing: border-box;
}
a { text-decoration: none;}

.one {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

.half{
background-color: turquoise;
text-align: left;
margin-left: 15%;
margin-right: 15%;
padding: 10px;
font-weight: 900;
font-size: 25px;
}

.gg{
border-bottom: 3px solid orange;
}

.ff{
  text-align: center;
  display: inline-block;
  padding: 20px;
  background-color:lightgrey;
}

.purp{
  text-align: center;
  padding: 0px 10px 10px 10px;
}

.photo {
    text-align: center;
}

.the-bod {padding-left: 64px;padding-right: 64px;text-align: center;}



span.text {
    margin-right: 17px;
    margin-left: -2px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: yellow;
    padding-left: 30px;
    padding-right: 30px;
}

span.delta {
    margin-left: 60px;
    margin-right: 0px;
    background: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

span.charlie {
    margin-right: 43px;
    margin-left: 77px;
    background: yellow;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
