*,
  *::before,
  *::after{
  box-sizing: border-box;
}
.one {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
}
.half{
  background-color: turquoise
  
}
.three{
  border-
}
